<div id="team-events">
  <%= render "events" %>
</div>

<p id="loading">Loading more ...</p>
<script>
var currentPage = 1;

function checkScroll() {
  if (nearBottomOfPage()) {
    currentPage++;
    $.ajax({ 
      url: document.URL + ".js?page=" + currentPage,
      type: 'GET'
    });
  } else {
    setTimeout("checkScroll()", 250);
  }
}

function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}

function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}

function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}

$(document).on("page:change",function(){
  if($("#team-events").length){
    checkScroll();
  }
})

</script>
