<div class="topic">
  <%= render @todo %>
</div>
<div class="comments" id="todo-show-comments">
  <%= render partial: "events/todo_event", collection: @todo.events, as: :event, locals: { show_eventable: false } %>
</div>
<div class="comment comment-form">
  <%= render "comments/form" %>
</div>
