// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-field {
  margin-left: 120px;
}
#comment_content {
  min-height: 100px;
  width: 600px;
}
#new_comment{
  margin-top: 30px;
}
.comment .gravatar {
  margin-left: 20px;
  width: 45x;
  height: 45px;
}
.comment {
  margin: 30px 0;
  .comment-main {
    margin-left: 125px;
    .author {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }
    .create-time {
      font-size: 12px;
      color: #887;
    }
  }
}

